html {
    font-family: "Ubuntu", serif;
    font-size: 16px;
    color: black;


    /* COLOR PALETTES */
    --PrimaryBackgroundColor: #fff;
    --SecondaryBackgroundColor: rgb(248, 248, 248);
    --PrimaryAccentColor: #EE3137;
    --SecondaryAccentColor: rgb(67, 66, 67);
}

body {
    background-color: var(--PrimaryBackgroundColor);
}


    /* UNIVERSAL STYLES */
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

a {
    font-size: 1.25rem;
    cursor:pointer;
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--PrimaryAccentColor);
    text-decoration: underline;
    transition: 0.5s;
}

#active {
    color: var(--PrimaryAccentColor);
    text-decoration: underline;
}

.cta {
    color: black;
    background-color: var(--PrimaryAccentColor);
    border: none;
    cursor:pointer;
}

.cta:hover {
    color: var(--PrimaryAccentColor);
    background-color: var(--SecondaryAccentColor);
    transition: 0.5s;
}

a:active, .cta:active {
    color:black;
}

.btn {
    margin-top: 10px;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 3px;
}

.title {
    width: 60%;
    min-width: 255px;
    margin: 0 auto 10px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid var(--PrimaryAccentColor);
}

.altbg {
    background-color: var(--SecondaryBackgroundColor);
}


    /* HEADER */

header, .navbar, .navbar ul {
    height: 3.125rem;
}  /* Don't forget anchor line height */

.navbar a {
    line-height: 3.125rem;
    padding: 0 10px;
    display: inline-block;
}

header {
    width: 100%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--SecondaryBackgroundColor);
    border-bottom: 1px solid var(--PrimaryAccentColor)
}

header img {
    height: 100%;
    width: auto;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
}


    /* Above */

.above {
    width: 100%;
    background: url(../Media/loungeview.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.above#home {
    height: 700px;
}

.above#about, .above#contact {
    height: 400px;
    text-align: center;
}

.above div {
    max-width: 33%;
    margin-left: 10%;
    color: white;
}

.above h1 {
    border-bottom: 1px solid var(--PrimaryAccentColor);
    padding-bottom: 10px;
    margin-bottom: 10px;
}


    /* Content */

.LogoName {
    aspect-ratio: 13 / 10;
}

.JobsImage {
    aspect-ratio: 10 / 12.3;
}

.container {
    width: 100%;
    padding: 0 1% 2.5%;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.content img {
    height: auto;
    max-width: 40%;
    margin: 15px;
}

.swap1-2 {
    order: 1;
}
.swap2-1 {
    order: 2;
}

.textcontent, .contactcontent {
    width: 40%;
    min-width: 300px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textcontent h3, .contactcontent h3 {
    width: 70%;
    min-width: 250px;
    margin: 15px 0 5px 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--PrimaryAccentColor);
}

.textcontent h4, .contactcontent h4 {
    width: 70%;
    padding: 10px;
    text-align: left;
}

.textcontent p {
    width: 80%;
    padding: 10px 0 0 10px;
    text-align: left;
    line-height: 1.3rem;
}


    /* HOME */


    /* ABOUT */


.meetus {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.meetus div {
    max-width: 20%;
    min-width: 250px;
    margin: 15px;

}

.meetus div h3 {
    width: 60%;
    margin: 0 auto 10px;
    text-align: center;
    border-bottom: 1px solid var(--PrimaryAccentColor);
}

.meetus img {
    height: auto;
    width: 100%;
}

    /* CONTACT */



.contactcontent a {
    font-size: 1.75rem;
    text-decoration: underline;
}


    /* FOOTER */

footer {
    height: 1.25rem;
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: var(--SecondaryAccentColor);
}

footer p {
    color: white;
    font-size: 0.75rem;
}


    /* MEDIA QUERIES */

@media only screen and (min-height:800px) {
    #contactfooter {
        position: fixed;
        bottom: 0;
    }
}

@media only screen and (min-height: 1180px)
         and (min-width: 858px) {
    #meetusfooter {
        position: fixed;
        bottom: 0;
    }
}

    /* Level 1 */
@media only screen and (max-width: 1300px) {

    .above div {
        max-width: 60%;
    }

    .above#home {
        height: 500px;
    }

}

    /* Level 2 */
@media only screen and (max-width: 980px) {

    header, .navbar, .navbar ul {
        height: 2.5rem;
    }  /* Don't forget anchor line height */
    .navbar a {
        line-height: 2.5rem;
    }

    .swap1-2 {
        order: 2;
    } 

    .swap2-1 {
        order: 1;
    }

    .above {
        justify-content: center;
    }

    .above div {
        max-width: 75%;
        margin: 0;
    }

    .content img {
        max-width: 60%;
    }

    .textcontent, .contactcontent {
        width: 75%;
        align-items: center;
    }

    .textcontent h3, .textcontent h4,
     .contactcontent h3, .contactcontent h4 {
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2.25rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
    
    a {
        font-size: 1.125rem;
    }
    .contactcontent a {
        font-size: 1.5rem;
    }
}

    /* Level 3 */
@media only screen and (max-width: 700px) {

    .above#home {
        height: 400px;
    }
    
    .above#about, .above#contact {
        height: 300px;
    }
    
    .above div {
        max-width: 90%
    }

    .content img {
        max-width: 75%;
        min-width: 250px;    
    }

    .textcontent, .textcontent p {
        width: 95%;
    }

    .textcontent h3, .textcontent h4 {
        width: 85%;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    h3 {
        font-size: 1.25rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    a {
        font-size: 1rem;
    }

    .contactcontent a {
        font-size: 1.25rem;
    }

    .title {
        width: 80%;
    }

    .meetus div {
        min-width: 250px;
    }
}

    /* Level 4 */
@media only screen and (max-width: 510px) {

    .title {
        width: 90%;
    }
}