html {
    font-family: "Ubuntu", serif;
    font-size: 16px;
    color: black;


    /* COLOR PALETTES */
    --PrimaryBackgroundColor: #fff;
    --SecondaryBackgroundColor: rgb(248, 248, 248);
    --PrimaryAccentColor: #EE3137;
    --SecondaryAccentColor: rgb(67, 66, 67);
}

body {
    min-width: 400px;
    background-color: var(--PrimaryBackgroundColor);
}


    /* UNIVERSAL STYLES */
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

a {
    font-size: 1.25rem;
    cursor:pointer;
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--PrimaryAccentColor);
    text-decoration: underline;
    transition: 0.5s;
}

#active {
    color: var(--PrimaryAccentColor);
    text-decoration: underline;
}

.cta {
    color: black;
    background-color: var(--PrimaryAccentColor);
    border: none;
    cursor:pointer;
}

.cta:hover {
    color: var(--PrimaryAccentColor);
    background-color: var(--SecondaryAccentColor);
    transition: 0.5s;
}

a:active, .cta:active {
    color:black;
}

.btn {
    margin-top: 10px;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 3px;
}

.title {
    width: 60%;
    min-width: 255px;
    margin: 0 auto 10px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid var(--PrimaryAccentColor);
}

.altbg {
    background-color: var(--SecondaryBackgroundColor);
}

.show1, .show2, .show3 {
    display: none;
}

    /* HEADER */

header {
    height: 3.125rem;
    width: 100%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--SecondaryBackgroundColor)
}

header img {
    height: 100%;
    width: auto;
}

.navbar {
    height: 3.125rem;
    color: black;
}

.navbar ul {
    height: 3.125rem;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
}

.navbar a {
    line-height: 3.125rem;
    padding: 0 10px;
    display: inline-block;
}

    /* MAIN */

.container {
    width: 100%;
    padding: 0 1% 2.5%;
    text-align: center;
}

/*
.content * {
    border: 1px solid red;
}
*/

.content {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.content img {
    height: auto;
    max-width: 30%;
    min-width: 450px;
    margin: 0 15px;
}

.textcontent {
    width: 30%;
    min-width: 400px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textcontent h3 {
    width: 70%;
    min-width: 255px;
    margin: 15px 0 5px 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--PrimaryAccentColor);
}

.textcontent h4 {
    width: 70%;
    padding: 10px;
    text-align: left;
}

.textcontent p {
    max-width: 90%;
    padding: 10px 0 0 10px;
    text-align: left;
    line-height: 1.3rem;
}


    /* MAIN-above */

.above {
    width: 100%;
    background: url(../Media/loungeview.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.above#home {
    height: 700px;
}

.above#about, .above#contact {
    height: 400px;
    text-align: center;
}

.above div {
    width: 33%;
    margin: 0 50px;
    color: white;
}

.above h1 {
    border-bottom: 1px solid var(--PrimaryAccentColor);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

    /* HOME */

    /* ABOUT */

.meetus {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.meetus div {
    min-width: 400px;
    max-width: 20%;
    margin: 15px;
}

.meetus img {
    height: auto;
    width: 90%;
}

    /* CONTACT */

.textcontent a {
    font-size: 1.75rem;
    text-decoration: underline;
}

    /* FOOTER */

footer {
    height: 1.25rem;
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: var(--SecondaryAccentColor);
}

footer p {
    color: white;
    font-size: 0.75rem;
}

    /* MEDIA QUERIES */

@media only screen and (min-height:800px) {
    #contactfooter {
        position: fixed;
        bottom: 0;
    }
}

    /* Level 1 */
@media only screen and (max-width: 1300px) {

    .hide1 {
        display: none;
    }

    .above div {
        width: 60%;
    }

    .above#home {
        height: 500px;
    }

    .meetus div {
        min-width: 300px;
    }
}

    /* Level 2 */
@media only screen and (max-width: 905px) {

    .hide2 {
        display: none;
    }

    .show2 {
        display: block;
    }

    .above div {
        width: 75%;
        text-align: center;
    }

    html {
        font-size: 14px;
    }

    .textcontent {
        width: 75%;
        align-items: center;
    }

    .textcontent h3, .textcontent h4 {
        text-align: center;
    }

    .textcontent p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

}

    /* Level 3 */
@media only screen and (max-width: 600px) {

    .hide3 {
        display: none;
    }

    .show3 {
        display: block;
    }

    html {
        font-size: 12px;
    }

    .above#home {
        height: 400px;
    }
    
    .above#about, .above#contact {
        height: 300px;
    }
    
    .above div {
        width: 80%
    }

    .textcontent p {
        font-size: 1.3rem;
    }
    
    .title {
        width: 80%;
    }

    .meetus div {
        min-width: 250px;
    }
}

    /* Level 4 */
@media only screen and (max-width: 480px) {

    html {
        font-size: 10px;
    }

    p {
        font-size: 1.3rem;
    }

    .above div {
        width: 100%;
    }

    .title {
        width: 90%;
    }
}